@using System.Data
@{
    ViewBag.Title = "最新消息";
    ViewBag.BodyClass = "News";
    ViewBag.subnav = "News";

    DataTable d_news = (DataTable)ViewData["d_news"];
    string n_id = "";
    string n_title = "";
    string n_desc = "";
    string n_date = "";
    string n_url = "";
    string sort = "";
    string is_index = "";
    string c_status = "";
    string nmonth = "AAA,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec";
    string[] array_month = nmonth.Split(',');
    string n_month = "";
    string n_day = "";

    if (d_news.Rows.Count > 0)
    {
        n_id = d_news.Rows[0]["n_id"].ToString();
        n_title = d_news.Rows[0]["n_title"].ToString();
        n_desc = d_news.Rows[0]["n_desc"].ToString();
        n_date = d_news.Rows[0]["n_date"].ToString();
        n_month = array_month[Convert.ToInt16(n_date.Substring(5, 2))];
        n_day = n_date.Substring(8, 2);
        n_url = d_news.Rows[0]["n_url"].ToString();
        is_index = d_news.Rows[0]["is_index"].ToString();
        c_status = d_news.Rows[0]["status"].ToString();
        sort = d_news.Rows[0]["sort"].ToString();
    }
}


<div role="main" class="main">

    <section class="page-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="~/">Home</a></li>
                        <li class="active">@ViewBag.Title</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>@ViewBag.Title</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="container">

        <div class="row">
            <div class="col-md-3">
                <aside class="sidebar">

                    <h4>采威</h4>
                    <ul class="nav nav-list primary push-bottom">
                        <li><a href="~/News">最新消息</a></li>
                        <li><a href="~/Project">成交案例</a></li>
                    </ul>

                </aside>
            </div>
            <div class="col-md-9">
                <div class="blog-posts single-post">

                    <article class="post post-large blog-single-post">
                        <div class="post-date">
                            <span class="day">@n_day</span>
                            <span class="month">@n_month</span>
                        </div>
                        <div class="post-content">
                            <h2>@n_title</h2>
                            <p>@Html.Raw(@n_desc)</p>
                        </div>
                    </article>

                </div>
            </div>

        </div>        

    </div>

</div>