@using System.Data
@using System.Text.RegularExpressions

@{
    ViewBag.Title = "產品資訊";
    ViewBag.BodyClass = "Product";
    ViewBag.subnav = "Product";

    DataTable dt = (DataTable)ViewData["dt"];
    DataTable dt_b = (DataTable)ViewData["dt_b"];
    DataTable dt_s = (DataTable)ViewData["dt_s"];
    DataTable dt1 = (DataTable)ViewData["dt1"];

    string prod_id = "";
    string prod_name = "";
    string cate_b_id = "";
    string cate_b_name = "";
    string cate_s_id = "";
    string cate_s_name = "";
    string cc_cate = "";
    string cateb_active = "";
    string cates_active = "";
    string catep_active = "";
    string ccb_url = "";
    string ccs_url = "";
    string prod_desc = "";
    string prod_memo = "";
    string prod_cateb_name = "";
    string prod_cates_name = "";
    string now_cate_name = "";
    string now_cate_desc = "";
    string prod_pic = "";
    string img_path = "~/Images/";
    string cprod = "";
    string cprod_name = "";
    string cprod_desc = "";
    

    string cateb_id = "";
    string cates_id = "";


    if (dt.Rows.Count > 0)
    {
        prod_id = dt.Rows[0]["prod_id"].ToString();
        prod_name = dt.Rows[0]["prod_name"].ToString();
        prod_desc = dt.Rows[0]["prod_desc"].ToString();
        prod_memo = dt.Rows[0]["prod_memo"].ToString();
        prod_pic = img_path + dt.Rows[0]["img_file"].ToString();
        prod_cateb_name = dt.Rows[0]["cate_b_name"].ToString();
        prod_cates_name = dt.Rows[0]["cate_s_name"].ToString();
        cateb_id = dt.Rows[0]["cate_b_id"].ToString();
        cates_id = dt.Rows[0]["cate_s_id"].ToString();
    }



}

<div role="main" class="main">
<a id="autoclickme" href="#headers" style="opacity: 0;">123</a>
<!--<script>
    $(document).ready(function(){
            var $body = (window.opera) ? (document.compatMode == "CSS1Compat" ? $('html') : $('body')) : $('html,body');
            $body.animate({
                scrollTop: $('#glantitle').offset().top
            }, 2000, 'easeOutBounce');
     
            return false;
    });
</script>-->
    <!-- Prod_Cate Start -->
    <section class="page-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="~/">Home</a></li>
                        <!--<li class="active">@ViewBag.Title</li>-->
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>@prod_cateb_name - @prod_cates_name</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Prod_Cate End -->
    <div class="container">

        <div class="row">
            <div class="col-md-3">
                <aside class="sidebar">
                    @if (dt_b.Rows.Count > 0)
                    {
                        cc_cate = "";
                        cc_cate += "<div class=\"toggle\" data-plugin-toggle data-plugin-options='{\"isAccordion\":true}'>";

                        for (int i = 0; i < dt_b.Rows.Count; i++)
                        {
                            cate_b_id = dt_b.Rows[i]["cate_b_id"].ToString();
                            cate_b_name = dt_b.Rows[i]["cate_name"].ToString();
                            ccb_url = "~/Prod?cateb_id=" + cate_b_id;
                            if (cate_b_id == cateb_id)
                            {
                                cateb_active = " active";
                                //if(now_cate_name.Trim().Length > 0)
                                //{
                                //    now_cate_name += "-";
                                //}

                                //now_cate_name += cate_b_name;
                                now_cate_desc = dt_b.Rows[i]["cate_desc"].ToString();
                            }
                            else
                            {
                                cateb_active = "";
                            }

                            cc_cate += "<section class=\"toggle" + cateb_active + "\">";
                            cc_cate += "    <label onclick=\"location.href='" + Url.Content(ccb_url) + "';\" >";
                            if (cateb_active == " active")
                            {
                                cc_cate += "<font color=\"white\" >" + cate_b_name + "</font>";
                            }
                            else
                            {
                                cc_cate += cate_b_name;
                            }
                            cc_cate += "</label>";
                            //cc_cate += "    <label>" + cate_b_name + "</label>";

                            if(cateb_active == " active")
                            {
                                //--Temp檔--建立---------//
                                DataTable cates;
                                //----------------------------------------------------------------------//
                                DataRow[] cate_Rows = dt_s.Select("cate_b_id=" + cate_b_id);
                                //----------------------------------------------------------------------//
                                if (cate_Rows.Any())
                                {
                                    cates = cate_Rows.CopyToDataTable();
                                }
                                else
                                {
                                    cates = dt_s.Clone();
                                    cates.Clear();
                                }



                                if (cates.Rows.Count > 0)
                                {
                                    cc_cate += "    <div class=\"toggle-content\">";
                                    cc_cate += "        <ul class=\"nav nav-list primary push-bottom\">";
                                    for (int j = 0; j < cates.Rows.Count; j++)
                                    {
                                        cate_s_id = cates.Rows[j]["cate_s_id"].ToString();
                                        cate_s_name = cates.Rows[j]["cate_name"].ToString();
                                        ccs_url = "~/Prod?cateb_id=" + cate_b_id + "&cates_id=" + cate_s_id;
                                        if (cate_s_id == cates_id)
                                        {
                                            cates_active = "class=\"active\" ";
                                            //if (now_cate_name.Trim().Length > 0)
                                            //{
                                            //    now_cate_name += "-";
                                            //}
                                            //now_cate_name += cate_s_name;
                                            now_cate_desc = cates.Rows[j]["cate_desc"].ToString();
                                        }
                                        else
                                        {
                                            cates_active = "";
                                        }
                                        cc_cate += "            <li " + cates_active + "><a href=\"" + Url.Content(ccs_url) + "\">" + cate_s_name + "</a>";
                                        //----產品清單 -- //
                                        //--Temp檔--建立---------//
                                        DataTable Prod;
                                        //------------------------------------------------------------------//
                                        DataRow[] Prod_Rows = dt1.Select("cate_b_id=" + cate_b_id + " and cate_s_id=" + cate_s_id);
                                        //------------------------------------------------------------------//
                                        if (Prod_Rows.Any())
                                        {
                                            Prod = Prod_Rows.CopyToDataTable();
                                        }
                                        else
                                        {
                                            Prod = dt1.Clone();
                                            Prod.Clear();
                                        }

                                        if (Prod.Rows.Count > 0)
                                        {
                                            cc_cate += "        <ul class=\"nav nav-list primary push-bottom\">";
                                            for (int k = 0; k < Prod.Rows.Count; k++)
                                            {
                                                cprod = Prod.Rows[k]["prod_id"].ToString();
                                                cprod_name = Prod.Rows[k]["prod_name"].ToString();
                                                cprod_desc = Prod.Rows[k]["prod_desc"].ToString();
                                                if (prod_id == cprod)
                                                {
                                                    catep_active = "class=\"active\" ";
                                                }
                                                else
                                                {
                                                    catep_active = "";
                                                }
                                                cc_cate += "            <li " + catep_active + "><a href=\"" + Url.Content("~/Prod/ProdData?prod_id=" + cprod) + "\">&nbsp;&nbsp;&nbsp;&nbsp;" + cprod_name + "</a></li>";
                                            }
                                            cc_cate += "        </ul>";
                                        }

                                        cc_cate += "</li>";

                                    }
                                    cc_cate += "        </ul>";
                                    cc_cate += "    </div>";
                                }

                                //--Temp檔--釋放-------//
                                cates.Dispose();
                                cates = null;
                            }
                            cc_cate += "</section>";
                        }
                        cc_cate += "</div>";
                    }

                    @Html.Raw(cc_cate)
                </aside>
            </div>
            <div class="col-md-9">

                <h2 id="glantitle"><strong>@now_cate_name</strong></h2>
                <div class="col-md-12">
                    <h2>@prod_name</h2>
                </div>
                <hr class="tall">

                <div class="row">
                    <div class="col-md-12">
                        <div class="blog-posts single-post">

                            <article class="post post-large blog-single-post">
                                <div class="post-content">
                                    
                                    <p>@Html.Raw(@prod_desc)</p>
                                </div>
                            </article>

                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>

@functions
{
    /// <summary>
    /// 移除html tag
    /// </summary>
    /// <param name="htmlSource"></param>
    /// <returns></returns>
    public static string RemoveHTMLTag(string htmlSource)
    {
        //移除  javascript code.
        htmlSource = Regex.Replace(htmlSource, @"<script[\d\D]*?>[\d\D]*?</script>", String.Empty);

        //移除html tag.
        htmlSource = Regex.Replace(htmlSource, @"<[^>]*>", String.Empty);
        return htmlSource;
    }
}
<script>

         $(document).ready(function () {
             $('#autoclickme').get(0).click();
         });

</script>
