@using System.Data
@{
    Layout = "~/Views/Shared/_MLayout.cshtml";
    ViewBag.Crumb = "職工福利-管理";
    ViewBag.subnav = "n7";

    //變數設定

    DataTable dt = (DataTable)ViewData["dt"];

    string s_id = "";
    string s_title = "";
    string s_desc = "";
    string sort = "";
    string action_sty = (string)ViewData["action_sty"];
    string action_name = "";
    string c_status = "";
    string c_front_status = "";

    string img_no = "";
    string img_path = "../Images/";
    string small_img = "";
    string big_img = "";
    string img_id = "";

    img_no = DateTime.Now.ToString("yyyyMMddHHmmss");

    if (action_sty == "add")
    {
        action_name = "新增";

        s_id = "";
        s_title = "";
        s_desc = "";
        c_status = "Y";
        c_front_status = "checked";

        sort = "0";
    }
    else if (action_sty == "edit")
    {
        action_name = "修改";

        s_id = dt.Rows[0]["s_id"].ToString();
        s_title = dt.Rows[0]["s_title"].ToString();
        s_desc = dt.Rows[0]["s_desc"].ToString();
        c_status = dt.Rows[0]["status"].ToString();
        sort = dt.Rows[0]["sort"].ToString();

        switch (c_status)
        {
            case "Y":
                c_front_status = "checked";
                break;
            case "N":
                c_front_status = "";
                break;
        }
    }

}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li>@ViewBag.Crumb</li>
    </ul>
}

<h3 class="title">@ViewBag.Crumb <small class="oi" data-glyph="tags">編輯</small></h3>
@* 引用 ajaxfileupload *@
<script src="~/Scripts/ajaxfileupload.js"></script>
@* 引用 ajax_lib *@
<script src="~/Scripts/ajax_lib.js"></script>
@*1.引用ckeditor.js*@
<script src="~/ckeditor/ckeditor.js"></script>
<script>
    function form_ok() {
        //檢查資料
        var sshow = "";
        var shot = "";
        var cmsg = "";
        var s_title = "";
        s_title = $("s_title").val();

        if (s_title == "")
        {
            cmsg = "請輸入標題!!";
        }

        if ($("#cshow").prop("checked")) {
            $("#show").val("Y");
            sshow = "Y";
        }
        else
        {
            $("#show").val("N");
            sshow = "N";
        }

        if (cmsg != "")
        {
            alert(cmsg);
        }
        else
        {
            form1.submit();
        }
        //alert("show:" + $("#show").val() + ";hot:" + $("#hot").val());

    }
</script>

<form class="form-list" action="Staff_Save" name="form1" id="form1" method="post" enctype="multipart/form-data">
    <input type="hidden" name="action_sty" id="action_sty" value="@action_sty" />
    <input type="hidden" name="s_id" id="s_id" value="@s_id" />
    <input type="hidden" name="img_no" id="img_no" value="@img_no" />
    <input type="hidden" name="show" id="show" value="" />
    <input type="hidden" name="hot" id="hot" value="" />
    @if (action_sty == "add")
    {
        <input type="hidden" name="sort" id="sort" value="" />
    }

    <dl class="fields">
        <dt class="col-2">*標題</dt>
        <dd class="col-10">
            <input type="text" class="form-control form-control-sm" required id="s_title" name="s_title" value="@s_title">
        </dd>
    </dl>
    
    @if (action_sty == "edit")
    {
        <dl class="fields">
            <dt class="col-2">排序</dt>
            <dd class="col-4">
                <input type="number" min="0" class="inline" id="sort" name="sort" value="@sort">
                <small>數字愈小愈前面</small>
            </dd>
        </dl>
    }

    <dl class="fields">
        <dt class="col-2">前台顯示</dt>
        <dd class="col-4">
            <label class="switch">
                <input type="checkbox" name="cshow" id="cshow" @c_front_status>
                <div class="slider round"></div>
            </label>
        </dd>
    </dl>
    <fieldset class="m-t-24">
        <legend class="underline">[ 內容 ]</legend>
        <div class="alert-warning font-sm m-b-16">
            <strong>編輯器注意事項:</strong><br>
            從 WORD 複製文字時，請使用下方的 <img src="/Content/images/icon-word.jpg" /> 圖示來貼上 WORD 文字，避免跑版<br />
            編輯器上傳圖片或新增表格等時，請勿設定寬度及高度(將數字刪除) ，以免行動裝置顯示時會跑版。<br />
            檔案尺寸寬度超過 1600 或 高度超過1200 的圖片會被壓縮(PNG透明背景會變成不透明) <br />
            youtube 可勾選「用自適應縮放模式」
        </div>
        @* 編輯器(含圖片上傳功能) *@
        <textarea class="ckeditor form-control" rows="12" placeholder="請輸入描述" name="s_desc" id="s_desc">@s_desc</textarea>
        @*加入圖片上傳頁籤，放在頁面底下，放在頁面head區的話，會抓不到myText DOM*@
        <script type="text/javascript">
                    CKEDITOR.replace('s_desc'
                , { filebrowserImageUploadUrl: '@Url.Content("~/Manage/UploadPicture")' }
                );
        </script>
    </fieldset>
    <footer class="submit-bar clear m-t-24">
        <button type="button" name="btn_ok" onclick="form_ok();" class="btn success oi" data-glyph="circle-check">
            確認儲存
        </button>
        <button type="button" id="btn_back" name="btn_back" onclick="location.href='Staff_List'" class="btn warning oi" data-glyph="circle-x">
            回列表
        </button>
    </footer>
</form>
