@using System.Data
@{
    ViewBag.Title = "全文索引";
    ViewBag.BodyClass = "FAQ";

    DataTable dt = (DataTable)ViewData["dt"];

    string title = "";
    string cdesc = "";
    string curl = "";

    string faq_id = "";
    string faq_title = "";
    string faq_desc = "";
    string faq_active = "";
    string faq_html = "";
    
}

<div role="main" class="main">
    <div role="main" class="main">

        <section class="page-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="breadcrumb">
                            <li><a href="~/">Home</a></li>
                            <li class="active">@ViewBag.Title</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h1>@ViewBag.Title</h1>
                    </div>
                </div>
            </div>
        </section>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="lead">
                        搜尋結果
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="blog-posts">
                        @if (dt.Rows.Count > 0)
                        {
                            for (int i = 0; i < dt.Rows.Count; i++)
                            {
                                title = dt.Rows[i]["title"].ToString();
                                cdesc = dt.Rows[i]["cdesc"].ToString();
                                curl = dt.Rows[i]["url"].ToString();

                                if (cdesc.Length > 200)
                                {
                                    cdesc = cdesc.Substring(0, 200) + "...";
                                }
                                <article class="post post-medium">
                                    <div class="post-content">

                                        <h3><a href="@Url.Content(curl)">@title</a></h3>
                                        <p>@Html.Raw(cdesc)</p>
                                        <div class="post-meta">
                                            <a href="@Url.Content(curl)" class="btn btn-xs btn-primary pull-right">Read more...</a>
                                        </div>
                                    </div>
                                </article>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>