@using System.Data
@using System.Text.RegularExpressions

@{
    ViewBag.Title = "成功案例";
    ViewBag.BodyClass = "Project";
    ViewBag.subnav = "Project";

    DataTable d_proj = (DataTable)ViewData["d_proj"];

    int row_count = 0;
    int page_count = 10;
    int page = (int)ViewData["page"];
    int pre_page = 0;
    int top_page = 0;
    int next_page = 0;
    int end_page = 0;
    int min_row = 0;
    int max_row = 0;
    int total_page = 0;
    int s_page = 0;
    int e_page = 0;
    int pp_count = 0;
    string page_active = "";

    string proj_id = "";
    string proj_title = "";
    string proj_date = "";
    string proj_desc = "";
    string proj_memo = "";
    string proj_month = "";
    string proj_day = "";
    string nmonth = "AAA,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec";
    string[] array_month = nmonth.Split(',');

    row_count = d_proj.Rows.Count;
    if (row_count % page_count > 0)
    {
        total_page = (row_count / page_count) + 1;
    }
    else
    {
        total_page = row_count / page_count;
    }

    if (page > total_page)
    {
        page = total_page;
    }
    else if (page < 1)
    {
        page = 1;
    }

    top_page = 1;

    if (page > 1)
    {
        pre_page = page - 1;
    }
    else
    {
        pre_page = 1;
    }

    if (total_page > page)
    {
        next_page = page + 1;
    }
    else
    {
        next_page = total_page;
    }

    end_page = total_page;

    min_row = 10 * (page - 1) + 1;
    max_row = 10 * page;
    if (max_row > row_count)
    {
        max_row = row_count;
    }

    pp_count = Convert.ToInt16(page / 10);
    s_page = pp_count * 10 + 1;
    e_page = (pp_count + 1) * 10;
    if (e_page > total_page)
    {
        e_page = total_page;
    }
}

<div role="main" class="main">

    <section class="page-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="~/">Home</a></li>
                        <li class="active">@ViewBag.Title</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>@ViewBag.Title</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="container">

        <div class="row">
            <div class="col-md-3">
                <aside class="sidebar">

                    <h4>采威</h4>
                    <ul class="nav nav-list primary push-bottom">
                        <li><a href="~/News">最新消息</a></li>
                        <li><a href="~/Project">成交案例</a></li>
                    </ul>

                </aside>
            </div>
            <div class="col-md-9">
                <div class="blog-posts">
                    @* 套程式 *@
                    @if (d_proj.Rows.Count > 0)
                    {
                        for (int i = min_row-1; i < max_row; i++)
                        {
                            proj_id = d_proj.Rows[i]["proj_id"].ToString();
                            proj_title = d_proj.Rows[i]["proj_title"].ToString();
                            proj_date = d_proj.Rows[i]["proj_date"].ToString();
                            proj_month = array_month[Convert.ToInt16(proj_date.Substring(5, 2))];
                            proj_day = proj_date.Substring(8, 2);
                            proj_desc = RemoveHTMLTag(d_proj.Rows[i]["proj_desc"].ToString());
                            proj_memo = d_proj.Rows[i]["proj_memo"].ToString();
                            if (proj_desc.Length > 120)
                            {
                                proj_desc = proj_desc.Substring(0, 120) + "...";
                            }


                            <article class="post post-large">
                                <div class="post-date">
                                    <span class="day">@proj_day</span>
                                    <span class="month">@proj_month</span>
                                </div>
                                <div class="post-content">

                                    <h2><a href="@Url.Content("~/Project/ProjData?proj_id=" + proj_id)">@proj_title</a></h2>
                                    <p>
                                        @Html.Raw(proj_desc)
                                        <div class="post-meta">
                                            <a href="@Url.Content("~/Project/ProjData?proj_id=" + proj_id)" class="btn btn-xs btn-primary pull-right">Read more...</a>
                                        </div>
                                </div>
                            </article>
                        }
                    }

                    <ul class="pagination pagination-lg pull-left">

                        <li><a href="@Url.Content("~/Project/?page=" + top_page.ToString())">|<</a></li>
                        <li><a href="@Url.Content("~/Project/?page=" + pre_page.ToString())"><<</a></li>
                        @for (int i = s_page; i <= e_page; i++)
                        {
                            if (i == page)
                            {
                                page_active = " class=\"active\" ";
                            }
                            else
                            {
                                page_active = "";
                            }
                            <li @Html.Raw(page_active)><a href="@Url.Content("~/Project/?page=" + i.ToString())">@i.ToString()</a></li>
                        }
                        <li><a href="@Url.Content("~/Project/?page=" + next_page.ToString())">>></a></li>
                        <li><a href="@Url.Content("~/Project/?page=" + end_page.ToString())">>|</a></li>
                    </ul>

                </div>
            </div>


        </div>

    </div>

</div>

@functions
{
    /// <summary>
    /// 移除html tag
    /// </summary>
    /// <param name="htmlSource"></param>
    /// <returns></returns>
    public static string RemoveHTMLTag(string htmlSource)
    {
        //移除  javascript code.
        htmlSource = Regex.Replace(htmlSource, @"<script[\d\D]*?>[\d\D]*?</script>", String.Empty);

        //移除html tag.
        htmlSource = Regex.Replace(htmlSource, @"<[^>]*>", String.Empty);
        return htmlSource;
    }
}
